article {
  margin-top: 100px;
  color: white;
  border: 1px solid var(--mainGreen);
  padding: 20px 40px !important;
}

.line {
  width: max(40%, 250px);
  background-color: var(--mainPurple);
  height: 2px;
  margin-bottom: 40px;
}

@media (max-width: 991.5px) {
  article {
    padding: 20px 30px !important;
  }
}

@media (max-width: 767.5px) {
  article {
    padding: 20px 20px !important;
  }
}

@media (max-width: 575.5px) {
  article {
    padding: 20px 15px !important;
  }
  article h5 {
    font-size: 1rem;
  }
  article h2 {
    font-size: 1.2rem;
  }
  article p {
    font-size: 0.8rem;
  }
}

#actions {
  padding: 0 12px;
}
#actions .col-4 {
  border: 1px solid var(--mainGreen);
  height: 50px;
  display: flex;
  justify-content: center;
}
#actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
  border: none;
}
#actions button p {
  margin-bottom: 0;
  margin-left: 10px;
}
#actions .bi {
  font-size: 1.8rem;
}
