main {
  margin-top: 80px;
}

#edit a {
  text-decoration: none;
}
#edit a:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  color: white;
  border: 1px solid var(--mainGreen);
  padding: 20px 40px !important;
}

.line {
  width: max(40%, 250px);
  background-color: var(--mainPurple);
  height: 2px;
  margin-bottom: 40px;
}

@media (max-width: 991.5px) {
  article {
    padding: 20px 30px !important;
  }
}

@media (max-width: 767.5px) {
  article {
    padding: 20px 20px !important;
  }
}

@media (max-width: 575.5px) {
  article {
    padding: 20px 15px !important;
  }
  article h5 {
    font-size: 1rem;
  }
  article h2 {
    font-size: 1.2rem;
  }
  article p {
    font-size: 0.8rem;
  }
  article > div:first-child {
    flex-direction: column;
  }
  article > div:first-child a {
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .line {
    width: 200px;
  }
}

#actions {
  padding: 0 12px;
}
#actions .col-4 {
  border: 1px solid var(--mainGreen);
  height: 50px;
  display: flex;
  justify-content: center;
}
#actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
  border: none;
}
#actions button p {
  margin-bottom: 0;
  margin-left: 10px;
}
#actions .bi {
  font-size: 1.8rem;
}

#likeButton:hover,
#commentButton:hover,
#saveButton:hover {
  color: var(--mainGreen) !important;
}

.comment {
  margin-top: 20px;
}

.comment img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.comment > div {
  width: calc(100% - 80px);
  background-color: var(--mainGray);
  padding: 10px 20px;
}
.comment > div > div {
  margin-bottom: 10px;
  align-items: center;
}
.comment div div i {
  color: var(--mainPurple) !important;
}

.comment a,
article a {
  color: var(--mainGreen);
  font-size: 1.2rem;
  font-family: var(--h1-font);
  text-decoration: none;
}
.comment a:hover,
article a:hover {
  text-decoration: underline !important;
}

.comment p {
  color: white;
}

@media (max-width: 500px) {
  #actions .bi {
    font-size: 1.2rem;
  }
  #actions button p {
    font-size: 0.7rem;
    margin-left: 5px;
  }
  .comment img {
    width: 40px;
    height: 40px;
  }
  .comment > div {
    width: calc(100% - 70px);
  }
  .comment > div > div {
    flex-direction: column-reverse;
    align-items: start !important;
  }
  .comment a {
    font-size: 1rem;
  }
  .comment p {
    font-size: 0.8rem;
  }
}
