main h1 {
  color: var(--mainPurple);
  margin-top: 100px;
  font-family: var(--h1-font);
  margin-bottom: 20px;
}
form label {
  color: white;
  margin-bottom: 5px;
}
input,
textarea,
form div {
  width: 100%;
}

input {
  margin-bottom: 20px;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

main > div button {
  width: 80px;
}

main > div p {
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  height: 55px;
}

.btn-success {
  margin-left: 5px;
}
main > div > p {
  margin-left: 10px;
  margin-right: 5px;
}

.line {
  width: max(40%, 250px);
  background-color: var(--mainPurple);
  height: 2px;
  margin-bottom: 40px;
}
